<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products/create" method="post" enctype="multipart/form-data">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" value="<%=locals.old?old.name:null%>">
        <div class="error_message_container">
            <small class="error_message" style="color: red"><%=locals.errors&&errors.name?errors.name.msg:null%></small> 
        </div>
    
        <label for="presentation">Presentación</label>
        <select id="presentation" name="presentation">
            <%if(locals.old && old.presentation){%>
                <%for(let i=0; i<presentation.length; i++){ %>
                    <%if(old.presentation==presentation[i]){%>
                        <option value="<%=presentation[i]%>" selected><%=presentation[i]%></option> 
                    <%}else{%>
                        <option value="<%=presentation[i]%>"><%=presentation[i]%></option>  
                    <%}%>        
                <%}%>
            <%}else{%>
                <option disabled selected>Presentación</option> 
                <%for( let i = 0; i < presentation.length; i++ ){%>
                    <option value="<%=presentation[i]%>"><%=presentation[i]%></option>  
                <%}%>
            <%}%> 
        </select>
        <div class="error_message_container">
            <small class="error_message" style="color: red"><%=locals.errors&&errors.presentation?errors.presentation.msg:null%></small> 
        </div>

        <label for="price">Precio</label>
        <input type="number" id="price" name="price" min="1" value="<%=locals.old?old.price:null%>">
        <div class="error_message_container">
            <small class="error_message" style="color: red"><%=locals.errors&&errors.price?errors.price.msg:null%></small> 
        </div>
    
        <label for="category">Categoría</label>
        <select id="category" name="category">
            <%if(locals.old && old.category){%>
                <%for(let i=0; i<categories.length; i++){ %>
                    <%if(old.category==categories[i]){%>
                        <option value="<%=categories[i]%>" selected><%=categories[i]%></option> 
                    <%}else{%>
                        <option value="<%=categories[i]%>"><%=categories[i]%></option>  
                    <%}%>        
                <%}%>
            <%}else{%>
                <option disabled selected>Categoría</option> 
                <%for( let i = 0; i < categories.length; i++ ){%>
                    <option value="<%=categories[i]%>"><%=categories[i]%></option>  
                <%}%>
            <%}%> 
        </select>
        <div class="error_message_container">
            <small class="error_message" style="color: red"><%=locals.errors&&errors.category?errors.category.msg:null%></small> 
        </div>
    
        <label for="stock">Stock</label>
        <input id="stock" type="number" name="stock" min="0" value="<%=locals.old?old.stock:null%>">
        <div class="error_message_container">
            <small class="error_message" style="color: red"><%=locals.errors&&errors.stock?errors.stock.msg:null%></small> 
        </div>
    
        <input type="file" name="image">
        <div class="error_message_container">
            <small class="error_message" style="color: red"><%=locals.errors&&errors.image?errors.image.msg:null%></small> 
        </div>
    
        <%if(locals.old && old.showing==0){%>
            <label>Exhibir producto<input type="radio" name="showing" value="1"></label>
            <label>Quitar de exhibición<input type="radio" name="showing" value="0" checked></label>
        <%}else{%>
            <label>Exhibir producto<input type="radio" name="showing" value="1" checked></label>
            <label>Quitar de exhibición<input type="radio" name="showing" value="0"></label>
        <%}%>     

        <input type="submit" value="Crear producto">
        
    </form>

    <button><a href="/products">Volver al inicio</a></button>
    <button><a href="/logout">Cerrar sesión</a></button>

</body>
</html>